body {
    background-color: rgb(189, 141, 141);
}

h1 {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: yellow;
}

h3 {
    color: blueviolet;
}

h4 {
    color: brown;
}